{% extends 'base.html.twig' %}
{% block title %}Consultants{% endblock %}

{% block body %}
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1abc9c">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('managers') }}">
                    <h4>S&P</h4>
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('managers') }}">Project Managers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('consultants') }}" style="font-weight: bold">Consultants</a>
                        </li>
                    </ul>
                </div>
                <a class="navbar-brand" href="{{ path('editProfile', {'id': 27}) }}">
                    <span class="material-icons" >settings</span>
                </a>
                <a class="navbar-brand" >
                    <span class="material-icons">logout</span>
                </a>
            </div>
        </nav>

        <div class="container" style="padding: 10px">
            <div>
                <a class="btn btn-secondary" href="{{ path('createConsultant') }}">Ajouter un nouveau Consultant</a>
            </div>
            <table class="table">
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Seniorité</th>
                    <th scope="col">Projets actuels</th>
                    <th scope="col">Actions</th>
                </tr>

                {%   for consultant in  consultants  %}
                    <tr>
                        <td>
                            {{ consultant.id }}
                        </td>
                        <td>
                            {{ consultant.Name }}
                        </td>
                        <td>
                            {{ consultant.Seniority }}
                        </td>
                        <td>
                            {{ consultant.Projects }}
                        </td>
                        <td>
                            <button type="button" class="btn" onclick="window.location.href='{{ path('editConsultant', {'id': consultant.id}) }}'">
                                <span class="material-icons">edit</span>
                            </button>
                            <button type="button" class="btn" onclick="window.location.href='{{ path('deleteConsultant', {'id': consultant.id}) }}'">
                                <span class="material-icons">delete</span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
