{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau Project Manager{% endblock %}

{% block body %}
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1abc9c">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('managers') }}">
                    <h4>S&P</h4>
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('managers') }}">Project Managers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('consultants') }}"style="font-weight: bold">Consultants</a>
                        </li>
                    </ul>
                </div>
                <a class="navbar-brand" >
                    <span class="material-icons">settings</span>
                </a>
                <a class="navbar-brand" >
                    <span class="material-icons">logout</span>
                </a>
            </div>
        </nav>

        <div class="container" style="padding: 10px">
            <h1>Ajouter un nouveau Project Manager</h1>
            {{ form_start(form) }}
            {{ form_start(form1) }}

            <div class="row">
                <div class="col">
                    {{ form_row(form.name, {'label': 'Nom'}) }}
                </div>
                <div class="col" id="some-custom-id">
                    {{ form_row(form.Email, {'label': 'Email'}) }}
                </div>
            </div>

            <br/>
            <div class="row">
                <div class="col">
                    {{ form_row(form.Password, {'label': 'Mot de passe'}, {'attr': {'type': 'password'}}) }}
                </div>
                <div class="col" id="some-custom-id">
                    {{ form_row(form.Position, {'label': 'Position'}) }}
                </div>
            </div>

            <br/>
            <div class="row">
                <div class="col">
                    {{ form_row(form1.Seniority, {'label': 'Séniorité'}) }}
                </div>
                <div class="col" id="some-custom-id">
                    {{ form_row(form1.Projects, {'label': 'Projets actuels'}) }}
                </div>
            </div>

            <br/>
            <button type="submit" class="btn" style="width: 100%; background-color: #1abc9c; color: white">Ajouter</button>

            {{ form_end(form) }}
            {{ form_end(form1) }}
        </div>
    </div>
{% endblock body %}